# --- Base et UI ---
streamlit

# --- MLOps & Gestion de modèle ---
mlflow
joblib
setuptools

# --- Machine Learning & Inférence ---
xgboost
scikit-learn
pandas
numpy

# --- Visualisation ---
matplotlib
seaborn

# --- Tests ---
pytest

# --- Qualité de code ---
black
pylint
pytest-cov